<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Security-Policy" content="connect-src: *;">
  <title>demo</title>
  <script src="https://cdn.bootcss.com/moment.js/2.24.0/moment.min.js"></script>
  <link href="https://cdn.bootcss.com/antd/3.16.3/antd.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
  <script src="../../vendors/assets/pixi/pixi.min.js"></script>
  <script src="../../vendors/assets/pixi/pixi-spine.js"></script>
</head>

<body class="welcome">
  <div id="root"></div>
  <div id="welcome"></div>
  <script type="text/javascript" src="cordova.js"></script>
</body>

</html>