#shop {
  position: relative;
  height: 80%;
  width: 80%;
  font-weight: 400;

  .content {
    padding: 0;
    height: 100%;
    overflow: hidden;

    .title {
      color: #522810;
      font-weight: 500;
      font-size: 0.2rem;
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.12rem;
      padding: 0.06rem 0.12rem 0;
    }
  }

  .shop-panel {
    width: calc(100% - 2rem);
    height: 100%;
    overflow: auto;
    margin-right: 0.12rem;
    padding: 0 0.12rem 0.3rem;
  }

  .item {
    border: #5b331e solid 2px;
    border-radius: 0.06rem;
    padding: 0.06rem;
    margin: 0.02rem;
    font-size: 0.12rem;
    display: flex;
    align-items: center;

    &.selected {
      border-color: #e2a74c;
    }

    .img-container {
      height: 0.5rem;
      width: 0.5rem;
      margin-right: 0.06rem;

      img {
        width: 100%;
      }
    }

    .info {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      justify-content: space-between;

      &>div:last-child {
        text-align: right;
      }
    }
  }

  .shop-footer {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 100%;
    background: #f5e6d4;
    padding: 0.06rem 0.12rem;

    .title {
      text-align: center;
      color: #522810;
      font-weight: 500;
      font-size: 0.2rem;
      margin-bottom: 0.12rem;
    }

    .icon {
      text-align: center;
      margin-bottom: 0.12rem;

      img {
        height: 0.75rem;
      }
    }

    .game-btn {
      position: absolute;
      bottom: 0.06rem;
      width: calc(100% - 0.24rem);
      left: 0.12rem;
    }

    .row {
      display: flex;
      justify-content: space-between;
    }
  }
}