#shop {
  position: relative;
  height: 80%;
  width: 80%;
  font-weight: 400;
  display: flex;
  padding: 0;

  .tabs {
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0.12rem;
    background: #f5e6d4;
    border-radius: 0.06rem 0 0 0.06rem;
    overflow: hidden;

    .tab {
      height: 20%;
      width: 0.6rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      &.active {
        background: #faf5ef;
      }

      .icon img {
        height: 0.3rem;
      }

      .text {
        font-weight: 500;
        color: #522810;
        line-height: 1;
      }
    }
  }

  .shop-content {
    height: 100%;
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.15rem;
    padding-bottom: 0.4rem;


    &.home,
    &.shop {
      padding-right: 1.65rem;
    }
  }

  .content {
    padding: 0;
    height: 100%;
    overflow: hidden;

    .title {
      color: #522810;
      font-weight: 500;
      font-size: 0.2rem;
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.12rem;
      padding: 0.06rem 0 0;
    }
  }

  .shop-panel {
    width: calc(100% - 2rem);
    height: 100%;
    overflow: auto;
    margin-right: 0.12rem;
    padding: 0 0.12rem 0.3rem;
  }

  .item {
    border: #5b331e solid 2px;
    border-radius: 0.06rem;
    padding: 0.06rem;
    margin: 0.02rem;
    font-size: 0.12rem;
    display: flex;
    align-items: center;

    &.selected {
      border-color: #e2a74c;
    }

    .img-container {
      height: 0.5rem;
      width: 0.5rem;
      margin-right: 0.06rem;

      img {
        width: 100%;
      }
    }

    .info {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      justify-content: space-between;

      &>div:last-child {
        text-align: right;
      }
    }
  }

  .shop-footer {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 100%;
    background: #f5e6d4;
    padding: 0.06rem 0.12rem;
    overflow: auto;
    font-size: 0.12rem;

    .title {
      text-align: center;
      color: #522810;
      font-weight: 500;
      font-size: 0.2rem;
      margin-bottom: 0.12rem;
    }

    .icon {
      text-align: center;
      margin-bottom: 0.12rem;

      .item-icon {
        width: 0.75rem;
        height: 0.75rem;
      }
    }

    .sub-title {
      color: #522810;
      font-weight: 500;
      margin: 0.06rem 0;
    }
  
    .row.set-item {
      opacity: 0.7;
  
      &.equipped {
        color: #009c00;
        opacity: 1;
      }
    }
  
    .set-buff-desc {
      margin-top: 0.06rem;
      opacity: 0.7;
  
      &.active {
        color: #009c00;
        opacity: 1;
        font-weight: 500;
      }
    }

    .game-btn {
      bottom: 0.06rem;
      width: 100%;
      left: 0.12rem;
      margin-top: 0.12rem;
    }

    .row {
      display: flex;
      justify-content: space-between;
    }
  }
}

#shop .content.auction {
  .title.auction-title {
    justify-content: start;
    align-items: baseline;
    font-size: 0.16rem;
    color: #796458;

    .auction-title-tab {
      margin-right: 0.06rem;
    }

    .active {
      font-size: 0.2rem;
      color: #522810;
    }
  }

  .auction-set {
    display: flex;
    position: relative;

    .item-icon {
      margin-right: 0.06rem;
      flex-grow: 0;
      flex-shrink: 0;
    }

    .info {
      flex-grow: 1;
      flex-shrink: 1;
      min-width: 0;
    }

    .level {
      position: absolute;
      top: 0.02rem;
      left: 0.02rem;
      font-size: 0.12rem;
      font-weight: 500;
      color: #fff;
      text-shadow: 0 0 4px #5b331e;
    }

    .name {
      color: #522810;
      font-weight: 500;
      margin-bottom: 0.06rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .close-btn {
      position: absolute;
      width: 0.5rem;
      font-size: 0.12rem;
      padding: 0;
      left: 0;
      bottom: 0;
    }
  }
}
