#yesterdayPower {
  .yesterdaypower {
    display: flex;
    align-items: center;
    margin-bottom: 0.1rem;

    &:last-child {
      margin-bottom: 0;
    }

    .icon,
    .reward {
      flex-shrink: 0;
      flex-grow: 0;
    }

    .icon {
      width: 0.22rem;
      margin-right: 0.12rem;
      
      img {
        width: 100%;
      }
    }

    .center {
      flex-shrink: 1;
      flex-grow: 1;

      .data {
        font-size: 0.14rem;
        font-weight: 500;
      }
    }

    .reward {
      margin-left: 0.12rem;
    }
  }
}

.demo2{
  transform-origin: 0.22rem 0.22rem;
  transform: rotate(-90deg);
  transition: stroke-dasharray .3s ease-in;
}