#forgetPassword {
  padding-top: 0.56rem;

  .verify {
    display: flex;

    a {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  button {
    width: 100%;
    background-image: linear-gradient(to right, #953D96 0%, #D85BDB 100%);
    color: #fff;
    border: none;
    border-radius: 0.02rem;
    font-size: 0.16rem;
    padding: 0.12rem 0.24rem;

    &[disabled] {
      opacity: 0.5;
    }
  }

  .submit {
    margin-top: 0.5rem;
  }
}