#battle {
  position: relative;
  height: 80%;
  width: 80%;
  background: #faf5ef;
  border: #522810 solid 2px;
  border-radius: 0.06rem;

  img {
    height: 100%;
  }

  .content {
    height: 100%;
    overflow: auto;
  }

  .header {
    height: 0.88rem;
    position: relative;
    margin-top: -0.7rem;
    margin-bottom: 0.2rem;

    .center {
      height: 0.88rem;
      transform: translate(0, -1rem);
      animation: bhc-show 0.5s ease 0;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
    }

    .left,
    .right {
      position: absolute;
      height: 0.46rem;
      top: 0.4rem;
      left: 50%;
    }

    .left {
      opacity: 0;
      transform: translate(-1rem, 0);
      animation: bhl-show 0.5s ease 0;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
    }
    .right {
      opacity: 0;
      transform: translate(0rem , 0);
      animation: bhr-show 0.5s ease 0;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
    }
  }

  .searching {
    position: relative;
    height: 0.6rem;

    .main {
      height: 0.6rem;
      animation: bs-show 5s ease 0;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }

    .sec {
      height: 0.6rem;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
      animation: bss-show 10s ease 0;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      opacity: 0.3;
    }
  }

  .searching-text {
    font-size: 0.24rem;
    margin-top: 0.12rem;
    font-weight: 500;
    color: #522810;
  }

  .vs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.2rem;

    img {
      width: 0.3rem;
    }

    span {
      width: 2rem;
      flex-grow: 1;
      flex-shrink: 1;
      text-align: center;
      font-weight: 500;
      font-size: 0.2rem;
    }
  }

  .searching-model {
    text-align: center;

    .result {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      img {
        width: 1.32rem;
      }
  
      span {
        width: 1rem;
        flex-grow: 1;
        flex-shrink: 1;
        text-align: center;
        font-size: 0.3rem;
      }
    }
  }

  .battle-search-modal {
    min-width: 3rem;

    .content {
      overflow: initial;
    }
  }

  .battles {
    font-size: 0.12rem;

    .battle {
      display: flex;
      align-items: center;
      padding: 0.06rem 0.12rem;

      &:nth-child(odd) {
        background: rgba($color: #e2a74c, $alpha: 0.2);
      }

      .result {
        width: 0.4rem;
        flex-grow: 0;
        flex-shrink: 0;

        span {
          border: #522810 solid 1px;
          background: rgba($color: #522810, $alpha: 0.2);
          border-radius: 0.02rem;
          padding: 0.02rem 0.06rem;
          color: #522810;

        }
        &.win span {
          border-color: #62ca15;
          background: rgba($color: #62ca15, $alpha: 0.2);
          color: #419800;
        }
      }
      .to {
        flex-grow: 1;
        flex-shrink: 1;
        padding: 0 0.06rem;
      }
      .number {
        flex-grow: 0;
        flex-shrink: 0;
        width: 1.3rem;
        text-align: right;
      }
      .date {
        flex-grow: 0;
        flex-shrink: 0;
        width: 1rem;
        padding: 0 0.06rem;
      }
    }
  }
}

.battle-anime-container {
  position: fixed;
  height: 2rem;
  width: 100%;
  background: gray;
  z-index: 9999999999;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    height: 0.07rem;
    width: 100%;
    background-image: url(../../../assets/farm/ui/battle_border.png);
    background-size: 316px 7px;
  }

  &::before {
    top: 0;
    transform: translate(0, -6px);
  }

  &::after {
    bottom: 0;
    transform: translate(0, 4px);
  }
}

.battle-anime-mapinfo {
  position: absolute;
  z-index: 9999999999;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -1.2rem) scale(1.5);
  height: 0.4rem;
  width: 1.3rem;
  background-image: url(../../../assets/farm/ui/battle_board.png);
  background-repeat: no-repeat;
  background-size: 1.3rem 0.4rem;
  text-align: center;
  font-size: 0.17rem;
  font-weight: 500;
  padding-top: 0.07rem;
  color: rgba($color: #fff, $alpha: 0.8);
  animation: bam-show 0.5s ease 0;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes bhc-show {
  0% {
    transform: translate(0, -1rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes bhl-show {
  0% {
    opacity: 0;
    transform: translate(-1rem, 0);
  }
  100% {
    opacity: 1;
    transform: translate(-1.35rem, 0);
  }
}
@keyframes bhr-show {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0.33rem, 0);
  }
}

@keyframes bs-show {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(230deg);
  }
  32% {
    transform: rotate(162deg);
  }
  48% {
    transform: rotate(322deg);
  }
  66% {
    transform: rotate(234deg);
  }
  80% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes bss-show {
  0% {
    transform: translate(-50%, 0) rotate(0) scale(1.8);
  }
  10% {
    transform: translate(-50%, 0) rotate(230deg) scale(1.3);
  }
  32% {
    transform: translate(-50%, 0) rotate(162deg) scale(1.8);
  }
  48% {
    transform: translate(-50%, 0) rotate(322deg) scale(1.3);
  }
  66% {
    transform: translate(-50%, 0) rotate(234deg) scale(1.8);
  }
  80% {
    transform: translate(-50%, 0) rotate(360deg) scale(1.3);
  }
  100% {
    transform: translate(-50%, 0) rotate(0deg) scale(1.8);
  }
}

@keyframes bam-show {
  0% {
    opacity: 0;
    transform: translate(-50%, -1.2rem) scale(1.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -1.2rem) scale(1);
  }
}