#entertainment {
  position: relative;
  height: 80%;
  width: 80%;
  text-align: center;
  background: #faf5ef;
  border: #522810 solid 2px;
  border-radius: 0.06rem;

  img {
    height: 100%;
  }
}